<div class="container">
    <div class="row" *ngFor="let person of people">
        <span class="gender"><strong>{{person.gender}}</strong></span>
        <ul>
            <li *ngFor="let pet of person.pets">{{pet.name}}</li>
        </ul>
        <br/>
    </div>
</div>